---
http_interactions:
- request:
    method: post
    uri: https://co1.qualtrics.com/API/v3/surveys
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nComplex
        survey\r\n-------------RubyMultipartPost\r\nContent-Disposition: form-data;
        name=\"contentType\"\r\n\r\napplication/vnd.qualtrics.survey.qsf\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"fileUrl\"\r\n\r\nhttp://<QUALTRICS_ORGANIZATION>-assessment-development.s3.amazonaws.com/uploads/survey/questions_file/9/Testing_one_more_time.qsf\r\n-------------RubyMultipartPost--\r\n\r\n"
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '2145'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"SV_9sHLHLo09I7XO1n"},"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Fri, 22 Apr 2016 20:45:29 GMT
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/surveys/SV_9sHLHLo09I7XO1n
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '638'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"SV_9sHLHLo09I7XO1n","name":"Complex survey","ownerId":"UR_6mMOll6VM5c3mex","organizationId":"<QUALTRICS_ORGANIZATION>","isActive":false,"creationDate":"2016-04-22T14:45:28Z","lastModifiedDate":"2016-04-22T14:45:29Z","expiration":{"startDate":null,"endDate":null},"questions":{"QID1":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"bla
        blab\n","choices":{"1":{"recode":"1","description":"asdf"}}},"QID2":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"asdf\n","choices":{"1":{"recode":"1","description":"asdf"}}},"QID3":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"asdfasdf\n","choices":{"1":{"recode":"1","description":"adsf"},"2":{"recode":"2","description":"asdf"}}}},"exportColumnMap":{"QID1":{"question":"QID1"},"QID2":{"question":"QID2"},"QID3":{"question":"QID3"}},"blocks":{"BL_0qyUtPsKO9tddyJ":{"description":"Default
        Question Block","elements":[]},"BL_9Taq0fO77QDp1ZP":{"description":"Imported
        Block 1 - Mar 10, 2016","elements":[{"type":"Question","questionId":"QID1"},{"type":"Question","questionId":"QID2"},{"type":"Question","questionId":"QID3"}]}},"flow":[{"id":"BL_0qyUtPsKO9tddyJ","type":"Block"},{"id":"BL_9Taq0fO77QDp1ZP","type":"Block"}],"embeddedData":[],"responseCounts":{"auditable":0,"generated":0,"deleted":0}},"meta":{"httpStatus":"200
        - OK"}}'
  recorded_at: Fri, 22 Apr 2016 20:45:30 GMT
- request:
    method: delete
    uri: https://co1.qualtrics.com/API/v3/surveys/SV_9sHLHLo09I7XO1n
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '128'
    body:
      encoding: UTF-8
      string: '{"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Fri, 22 Apr 2016 20:45:31 GMT
recorded_with: VCR 3.0.1
