---
http_interactions:
- request:
    method: post
    uri: https://co1.qualtrics.com/API/v3/surveys
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nComplex
        survey\r\n-------------RubyMultipartPost\r\nContent-Disposition: form-data;
        name=\"contentType\"\r\n\r\napplication/vnd.qualtrics.survey.qsf\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"fileUrl\"\r\n\r\nhttp://<QUALTRICS_ORGANIZATION>-assessment-development.s3.amazonaws.com/uploads/survey/questions_file/9/Testing_one_more_time.qsf\r\n-------------RubyMultipartPost--\r\n\r\n"
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '2071'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"SV_6RMze9tY3byJVLn"},"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Tue, 17 May 2016 16:21:27 GMT
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/surveys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '551'
    body:
      encoding: UTF-8
      string: '{"result":{"elements":[{"id":"SV_6RMze9tY3byJVLn","name":"Complex survey","ownerId":"UR_8IHOX9A7ekc4dgN","lastModified":"2016-05-17T16:21:27Z","isActive":false},{"id":"SV_bpyi1MsTPsHNgu9","name":"rails_test_one_question","ownerId":"UR_8IHOX9A7ekc4dgN","lastModified":"2016-04-25T23:03:30Z","isActive":true},{"id":"SV_dnaZ8YOozI31hQN","name":"Testing
        users permissions","ownerId":"UR_8IHOX9A7ekc4dgN","lastModified":"2016-04-07T16:07:01Z","isActive":false}],"nextPage":null},"meta":{"httpStatus":"200
        - OK"}}'
  recorded_at: Tue, 17 May 2016 16:21:28 GMT
- request:
    method: delete
    uri: https://co1.qualtrics.com/API/v3/surveys/SV_6RMze9tY3byJVLn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '193'
    body:
      encoding: UTF-8
      string: '{"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Tue, 17 May 2016 16:21:29 GMT
recorded_with: VCR 3.0.1
