---
http_interactions:
- request:
    method: post
    uri: https://co1.qualtrics.com/API/v3/surveys
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nComplex
        survey\r\n-------------RubyMultipartPost\r\nContent-Disposition: form-data;
        name=\"contentType\"\r\n\r\napplication/vnd.qualtrics.survey.qsf\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"fileUrl\"\r\n\r\nhttp://<QUALTRICS_ORGANIZATION>-assessment-development.s3.amazonaws.com/uploads/survey/questions_file/9/Testing_one_more_time.qsf\r\n-------------RubyMultipartPost--\r\n\r\n"
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '2422'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"SV_8HVMps9VGQdK5Hn"},"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Mon, 16 May 2016 21:10:28 GMT
- request:
    method: post
    uri: https://co1.qualtrics.com/API/v3/responseexports
    body:
      encoding: UTF-8
      string: '{"surveyId":"SV_8HVMps9VGQdK5Hn","startDate":"2016-05-15T15:11:22-06:00","endDate":"2016-05-16T15:11:22-06:00","format":"json"}'
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '304'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"ES_lc4243dd6bnf2g19eq0m6m6q0f"},"meta":{"httpStatus":"200
        - OK"}}'
  recorded_at: Mon, 16 May 2016 21:11:23 GMT
- request:
    method: delete
    uri: https://co1.qualtrics.com/API/v3/surveys/SV_8HVMps9VGQdK5Hn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '275'
    body:
      encoding: UTF-8
      string: '{"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Mon, 16 May 2016 21:11:24 GMT
recorded_with: VCR 3.0.1
