---
http_interactions:
- request:
    method: post
    uri: https://co1.qualtrics.com/API/v3/surveys
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nComplex
        survey\r\n-------------RubyMultipartPost\r\nContent-Disposition: form-data;
        name=\"contentType\"\r\n\r\napplication/vnd.qualtrics.survey.qsf\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"fileUrl\"\r\n\r\nhttp://<QUALTRICS_ORGANIZATION>-assessment-development.s3.amazonaws.com/uploads/survey/questions_file/9/Testing_one_more_time.qsf\r\n-------------RubyMultipartPost--\r\n\r\n"
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '2422'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"SV_3WZhBEXzPIA6XIh"},"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Fri, 22 Apr 2016 20:47:01 GMT
- request:
    method: put
    uri: https://co1.qualtrics.com/API/v3/surveys/SV_3WZhBEXzPIA6XIh
    body:
      encoding: UTF-8
      string: '{"isActive":true}'
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '699'
    body:
      encoding: UTF-8
      string: '{"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Fri, 22 Apr 2016 20:47:02 GMT
[...]
- request:
    method: delete
    uri: https://co1.qualtrics.com/API/v3/surveys/SV_3WZhBEXzPIA6XIh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '261'
    body:
      encoding: UTF-8
      string: '{"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Fri, 22 Apr 2016 20:54:33 GMT
recorded_with: VCR 3.0.1
