---
http_interactions:
- request:
    method: post
    uri: https://<QUALTRICS_ORGANIZATION>.qualtrics.com/API/v3/divisions
    body:
      encoding: UTF-8
      string: '{"name":"Division Test"}'
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '119'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"DV_866Jcn5UhQ5apdH"},"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Wed, 20 Apr 2016 16:47:04 GMT
- request:
    method: post
    uri: https://<QUALTRICS_ORGANIZATION>.qualtrics.com/API/v3/divisions?name=Division%20Test
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"httpStatus":"400 - Bad Request","error":{"errorMessage":"Invalid
        Content-Type. expected=application/json found=application/x-www-form-urlencoded","errorCode":"RP_0.1"}}}'
  recorded_at: Wed, 20 Apr 2016 16:59:07 GMT
- request:
    method: post
    uri: https://co1.qualtrics.com/API/v3/divisions
    body:
      encoding: UTF-8
      string: '{"name":"Division Test"}'
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '180'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"DV_8jDO42hy2TS1MA5"},"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Fri, 22 Apr 2016 21:57:17 GMT
recorded_with: VCR 3.0.1
