---
http_interactions:
- request:
    method: post
    uri: https://co1.qualtrics.com/API/v3/mailinglists
    body:
      encoding: UTF-8
      string: '{"libraryId":"UR_8IHOX9A7ekc4dgN","name":"Newest MailingList"}'
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '183'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"ML_eD8rCxSmRtHDGzX"},"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Fri, 27 May 2016 19:14:02 GMT
recorded_with: VCR 3.0.3
