---
http_interactions:
- request:
    method: post
    uri: https://co1.qualtrics.com/API/v3/mailinglists
    body:
      encoding: UTF-8
      string: '{"libraryId":"UR_8IHOX9A7ekc4dgN","name":"Newest MailingList"}'
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '242'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"ML_a9uWDuNlWkvFXyB"},"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Fri, 27 May 2016 19:13:59 GMT
- request:
    method: delete
    uri: https://co1.qualtrics.com/API/v3/mailinglists/ML_a9uWDuNlWkvFXyB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '501'
    body:
      encoding: UTF-8
      string: '{"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Fri, 27 May 2016 19:14:01 GMT
recorded_with: VCR 3.0.3
