---
http_interactions:
- request:
    method: post
    uri: https://<QUALTRICS_ORGANIZATION>.qualtrics.com/API/v3/divisions
    body:
      encoding: UTF-8
      string: '{"name":"Division Test"}'
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '144'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"DV_0C9F3TLN1QL029f"},"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Wed, 20 Apr 2016 16:26:32 GMT
- request:
    method: post
    uri: https://co1.qualtrics.com/API/v3/divisions
    body:
      encoding: UTF-8
      string: '{"name":"Division Test"}'
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '129'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"DV_8prBPfNCMfSvLpz"},"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Fri, 22 Apr 2016 21:57:08 GMT
recorded_with: VCR 3.0.1
