---
http_interactions:
- request:
    method: post
    uri: https://<QUALTRICS_ORGANIZATION>.qualtrics.com/API/v3/divisions
    body:
      encoding: UTF-8
      string: '{"name":"Division Test"}'
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '116'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"DV_eaFylJXzBbksNox"},"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Wed, 20 Apr 2016 22:31:42 GMT
- request:
    method: put
    uri: https://<QUALTRICS_ORGANIZATION>.qualtrics.com/API/v3/divisions/DV_eaFylJXzBbksNox
    body:
      encoding: UTF-8
      string: '{"status":"Disabled"}'
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '81'
    body:
      encoding: UTF-8
      string: '{"result":{},"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Wed, 20 Apr 2016 22:31:43 GMT
- request:
    method: post
    uri: https://co1.qualtrics.com/API/v3/divisions
    body:
      encoding: UTF-8
      string: '{"name":"Division Test"}'
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '91'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"DV_bx5fhC3608oGoN7"},"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Fri, 22 Apr 2016 21:57:09 GMT
- request:
    method: put
    uri: https://co1.qualtrics.com/API/v3/divisions/DV_bx5fhC3608oGoN7
    body:
      encoding: UTF-8
      string: '{"status":"Disabled"}'
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '120'
    body:
      encoding: UTF-8
      string: '{"result":{},"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Fri, 22 Apr 2016 21:57:09 GMT
recorded_with: VCR 3.0.1
