---
http_interactions:
- request:
    method: post
    uri: https://<QUALTRICS_ORGANIZATION>.qualtrics.com/API/v3/divisions
    body:
      encoding: UTF-8
      string: '{"name":"Division Test"}'
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '84'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"DV_6R9w703Og0X2SJn"},"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Wed, 20 Apr 2016 22:42:13 GMT
- request:
    method: put
    uri: https://<QUALTRICS_ORGANIZATION>.qualtrics.com/API/v3/divisions/DV_6R9w703Og0X2SJn
    body:
      encoding: UTF-8
      string: '{"name":"Updated Division"}'
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '72'
    body:
      encoding: UTF-8
      string: '{"result":{},"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Wed, 20 Apr 2016 22:42:14 GMT
- request:
    method: post
    uri: https://co1.qualtrics.com/API/v3/divisions
    body:
      encoding: UTF-8
      string: '{"name":"Division Test"}'
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '75'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"DV_9XpUKcTDWXwdzjn"},"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Fri, 22 Apr 2016 21:57:09 GMT
- request:
    method: put
    uri: https://co1.qualtrics.com/API/v3/divisions/DV_9XpUKcTDWXwdzjn
    body:
      encoding: UTF-8
      string: '{"name":"Updated Division"}'
    headers:
      X-Api-Token:
      - "<QUALTRICS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '68'
    body:
      encoding: UTF-8
      string: '{"result":{},"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Fri, 22 Apr 2016 21:57:10 GMT
recorded_with: VCR 3.0.1
